.feedback-form {
    max-width: 480px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    flex-direction: column;
    padding: 24px;
    display: flex;
    margin: 0 auto;
  }
  
  .feedback-form label {
    flex-direction: column;
    margin-bottom: 8px;
    display: flex;
  }
  
  .feedback-form button {
    font: inherit;
    cursor: pointer;
    width: 95px;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #4E75FF;
    ;
    border: none;
    color: #FFF;
  }
  
  .feedback-form button:hover {
    background: #4E75FF;
  }